
*{
    margin: 0;
    padding: 0;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

.content-container{
    height:100vh;
}

header{
    border-bottom: 1px solid #eee;
}

header h1{
    color: #fff;
    font-weight: 400;
    border-bottom: 1px solid;
    display: inline-block;
    background: #f10808;
    padding: 2rem;
    font-size: 1.5rem;
}


header a{
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 1rem;
    font-weight: 500;
    font-size: .9rem;
}

header a:hover{
    transition: .3s;
    color: #EC1037;
}

.hero-container{
    display: flex;
    max-width: 1500px;
    margin: 2rem auto;
}

.left, .right{
    flex: 1;
    padding: 0 2rem;
}


.left img, .right img, .center img{
    width: 100%;
}


.main-article-title{
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
    display: block;
}

.main-article-description{
    line-height: 1.75rem;
    display: block;
}

.article-text{
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
}

hr{
    margin: 4rem 0;
    border-top: .5px solid #eee;
}

.center{
    flex: 2;
}

.article-text, .main-article-title, .main-article-description{
    margin: 1rem;
}


@media only screen and (max-width: 980px) {
    .hero-container{
        flex-direction: column;
    }
    .center {
        order: 1;
        padding: 0 2rem 2rem;
    }
    .left{
        order: 2;
        display: flex;
    }
    .right{
        order: 3;
        display: flex;
    }
    hr{
        display: none;
    }
    .article-two, .article-four{
        padding: 0 0 0 1rem;
    }
    .content-container {
        height: auto;
    }
  }







  .main-content-conatiner{
      margin: 5rem auto;
      max-width: 1500px;
      display: flex;
  }


  .main-content-conatiner .left-main-articles{
      flex: 3;
      padding: 0 2rem;
  }

  .left-main-articles img{
      width: 100%;
  }

  .main-sub-articles{
      display: flex;
      margin: 5rem 0;
  }

  .main-articles-sub-articles{
      flex: 1;
      margin: 0 1rem;
  }

  .main-articles-sub-articles img{
      width: 100%;
  }

  .main-content-conatiner .right-sidebar{
      flex: 1;
  }

  h2{
      text-transform: uppercase;
      margin: 0 0 2rem;
  }

  .right-rail-poker-section a,  .right-rail-sports-section a{
    display: block;
    padding: 0 0 0 1rem;
  }

  .right-rail-poker-section img, .right-rail-sports-section img{
    max-width: 125px;
  }

  .logo-link-wrapper{
    display: flex;
    margin: 0 0 1rem;
}

  .right-rail-sports-section{
    margin: 4rem 0 0;
  }
  


  @media only screen and (max-width: 980px) {
    .main-content-conatiner{
        flex-direction: column;
    }
    .main-content-conatiner .right, .main-content-container .left{
        display: block;
    }
    .right-rail-poker-section{
        margin: 4rem 0 0;
    }
  }






  .in-post-image img{
      width: auto;
  }

  .left-main-articles ul{
    list-style: none;
    margin: 4rem 0;
  }

  .left-main-articles li{
    padding: 1rem;
    font-size: 1.2rem;
  }

  .left-main-articles li:nth-child(odd){
    background: #ebebeb;
  }